<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
</head>

<body>
    <h1>
        <%= title%>
    </h1>
    <% if (message) { %>
        <p>
            <%= message%>
        </p>
        <% } else { %>
            <p>No message provided.</p>
            <% } %>


                <%# const items=['apple', 'orange' , 'banana' ] %>
                    <ul>
                        <%# items.forEach(item=> { %>
                            <!-- <li>
                                <%#= item %>
                            </li> -->
                            <%# }) %>
                    </ul>

                    <table border="1" width="500px">
                        <% items.forEach(item => { %>
                            <tr>
                                <td><%= item.name %></td>
                                <td><%= item.age %></td>
                                <td><%= item.city %></td>
                            </tr>
                            <% }) %>
                    </table>
</body>

</html>